In [2]:
1+2

3

Task : 1

2.Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5 between 2000 and 3000. the number obtained should be printed in a comma-separated sequence on a single line

In [3]:
l=[] # l is empty list
for i in range(2000,3000):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))
print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996

3.Write a python program to accept the user's first and last name and then getting them printed in the reversr order with a space between first and last name.

In [4]:
F_name=input("Enter the First Name:")
L_name=input("Enter the Last Name:")
print (L_name+" "+F_name)

Enter the First Name:kavin
Enter the Last Name:kishore
kishore kavin

4.Write a python program to find the volume of sphere with diameter 12 cm 
Formula: V=4/3*3.14*r**3

In [5]:
pi=3.1415926535897931
r=6 # given diameter is 12 CM convert to radias = 6 CM
V=4/3*pi*r**3
print('The Volume of the Sphere V:',V)

The Volume of the Sphere V: 904.7786842338603

Task -2
1. Write a program which accepts a sequence of comma-separated numbers from console and generate a list

In [38]:
n = input("Enter the number:")
l = n.split(",")
print('List:',l)

Enter the number:1,2,3,4,5
List: ['1', '2', '3', '4', '5']

2. create the nested loop in python in below

In [19]:
num = 5
for i in range(num):
    for i in range(i):
        print('*',end="")
    print('')
for i in range(num,0,-1):
    for j in range(i):
        print('*',end="")
    print('')

*
**
***
****
*****
****
***
**
*

3. write the python program to reverse a word after accepting the input from the user.
sample o/p:
i/p word: AcadGild
O/p word:dilGdacA

In [25]:
str = input("enter the string to reverse:")
Rev=str[::-1]
print('reverse String:',Rev)

enter the string to reverse:AcadGild
reverse String: dliGdacA

4.Write the python program to print the given string in the format specified in the sample output

In [34]:
print ("WE,THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute india into a SOVEREIGN,!\n \t\t SOCIALIST,SECULAR,DEMOCRATIC,DEMOCRATIC REPUBLIC\n\t\t  and to secure to all its citizens")

WE,THE PEOPLE OF INDIA,
	having solemnly resolved to constitute india into a SOVEREIGN,!
 		 SOCIALIST,SECULAR,DEMOCRATIC,DEMOCRATIC REPUBLIC
		  and to secure to all its citizens

In [21]:
a

'nivak'